* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

:root{
    --red: hsl(14, 86%, 42%);
    --green: hsl(159, 69%, 38%);
    --white: #fff;
    --rose50: hsl(20, 50%, 98%);
    --rose100: hsl(13, 31%, 94%);
    --rose300: hsl(14, 25%, 72%);
    --rose400: hsl(7, 20%, 60%);
    --rose500: hsl(12, 20%, 44%);
    --rose900: hsl(14, 65%, 9%);
}

@font-face {
    font-family: mainFont;
    src: url(assets/fonts/RedHatText-VariableFont_wght.ttf),
         url(assets/fonts/RedHatText-Italic-VariableFont_wght.ttf);
}

body{
    font-size: 16px;
    background: var(--rose50);
    font-family: mainfont;
}

.container {
    width: 90%;
    margin: 70px auto;
    display: flex;
    justify-content: space-between;
}

        /* Dessert Container Styling */
.dessert-container {
    width: 70%;
}

.dessert-container h1 {
    margin-bottom: 30px;
    font-size: 250%;
}

.dessert-container .dessert-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.dessert-container .dessert-flex .dessert-item{}

.dessert-container .dessert-flex .dessert-item .dessert-action{
    position: relative;
    /* display: inline-block; */
    margin-bottom: 30px;
}

.dessert-container .dessert-flex .dessert-item .dessert-action>img{
    /* height: 250px; */
    width: 250px;
    border-radius: 5px;
    cursor: pointer;
}

/* .dessert-container .dessert-flex .dessert-item .dessert-action>img:active{
    border: 2px solid var(--red);
} */

/* .dessert-container .dessert-flex .dessert-item .dessert-action .button{

} */

.dessert-container .dessert-flex .dessert-item .dessert-action button:hover{
    border: 1px solid var(--red);
    color: var(--red);
    cursor: pointer;
}

.dessert-container .dessert-flex .dessert-item .dessert-action .quantity-control{
    background-color: var(--red);
    color: var(--white);
    cursor: pointer;
}

.dessert-container .dessert-flex .dessert-item .dessert-action .quantity-control img{
    border: 1px solid var(--rose300);
    border-radius: 50%;
    padding: 3px;
}

.dessert-container .dessert-flex .dessert-item .dessert-action .quantity-control img:hover{
    transform: scale(1.3);
    transition: 0.3s;
}

.dessert-container .dessert-flex .dessert-item .item-info{
    line-height: 1.6;
}

.dessert-container .dessert-flex .dessert-item .item-info :nth-child(1) {
    font-size: 14px;
    color: var(--rose400);
    font-weight: 400;
}

.dessert-container .dessert-flex .dessert-item .item-info :nth-child(2) {
    font-weight: 500;
}

.dessert-container .dessert-flex .dessert-item .item-info :nth-child(3) {
    font-weight: 500;
    color: var(--red);
}

        /* Cart Container Styling */
.container .cart-container {
    width: 30%;
    padding: 20px;
    align-self: flex-start;
    overflow: hidden;
}

.container .cart-container h2 {
    color: var(--red);
}

.container .cart-container .value img {
    margin: 20px 100px;
    text-align: center;
}

.container .cart-container p {
    text-align: center;
    color: var(--rose500);
    font-weight: 500;
}

.cart-container .each-order {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid var(--rose50);
}

.cart-container .each-order img {
    border: 1px solid var(--rose300);
    border-radius: 50%;
    padding: 3px;
}

.cart-container .each-order img:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.5s;
}

.cart-container .each-order .detail-text{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.cart-container .each-order .detail-text p{
    text-align: start;
    color: var(--rose900);
    font-weight: 500;
}

.cart-container .each-order .detail-text .quantity-price {
    display: flex;
    align-items: center;
    gap: 20px;
}

.cart-container .each-order .detail-text .quantity-price :nth-child(1) {
    color: var(--red);
    font-weight: 500;
    font-size: 14px;
}

.cart-container .each-order .detail-text .quantity-price :nth-child(2) {
    color: var(--rose400);
    font-weight: 500;
    font-size: 14px;
}

.cart-container .each-order .detail-text .quantity-price :nth-child(3) {
    color: var(--rose500);
    font-weight: 500;
}

.cart-container .order-total{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.cart-container .order-total>p{
    color: var(--rose900);
    font-weight: 400;
}

.cart-container .order-total .total-value{
    font-size: 25px;
    color: var(--rose900);
    font-weight: 900;
}

.cart-container .delivery-type {
    background: var(--rose100);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 20px 0;
}

.cart-container .delivery-type img{
    padding-right: 5px;
}

.cart-container .delivery-type span{
    font-weight: 500;
    color: var(--rose900);
}

        /* Order Confirmation Modal */
.modal {
    width: 100%;
    height: 100%;
    z-index: 1000;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    /* visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s ease-in-out; */
}

/* .modal:hover {
    cursor: zoom-out;
}

.modal.show {
    visibility: visible;
    opacity: 1;
} */

.order-confirmation-modal {
    width: 40%;
    margin: 0 auto;

    background: #fff;
    border-radius: 1rem;
    padding: 2rem;
    max-width: 40%;
    width: 90%;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.25);
    animation: fadeInUp 0.3s ease-in-out;
}

.order-confirmation-modal img{
    margin-bottom: 15px;
}

.order-confirmation-modal h1{}

.order-confirmation-modal p{
    /* margin-bottom: 20px; */
    /* font-size: 14px; */
    line-height: 2.0;
    color: var(--rose400);
    font-weight: 500;
}

.order-confirmation-modal .all-orders {
    background-color: var(--rose100);
    padding: 0 25px 25px 25px;
    margin: 30px 0;
    border-radius: 10px;
}

.order-confirmation-modal .all-orders .order-total{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.order-confirmation-modal .all-orders .order-total>p{
    color: var(--rose900);
    font-weight: 400;
}

.order-confirmation-modal .all-orders .order-total .total-value{
    font-size: 25px;
    color: var(--rose900);
    font-weight: 900;
}

.order-confirmation-modal .each-order {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid var(--rose50);
}

.order-confirmation-modal .each-order .total-price {
    color: var(--rose900);
    font-weight: 500;
}

.order-confirmation-modal .each-order .order-details {
    display: flex;
    gap: 20px;
}

.order-confirmation-modal .each-order .order-details .order-thumbnail{
    height: 50px;
    width: 50px;
}

.order-confirmation-modal .each-order .order-details .order-thumbnail img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.order-confirmation-modal .each-order .order-details .detail-text{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.order-confirmation-modal .each-order .order-details .detail-text p{
    font-weight: 500;
    color: var(--rose900);
}

.order-confirmation-modal .each-order .order-details .detail-text .quantity-price {
    display: flex;
    align-items: center;
    gap: 20px;
}

.order-confirmation-modal .each-order .order-details .detail-text .quantity-price :nth-child(1) {
    color: var(--red);
    font-weight: 500;
    font-size: 14px;
}

.order-confirmation-modal .each-order .order-details .detail-text .quantity-price :nth-child(2) {
    color: var(--rose400);
    font-weight: 500;
    font-size: 14px;
}

.order-confirmation-modal button {}

        /* Utilities */
.confirm-btn {
    width: 100%;
    border: none;
    outline: none;
    background-color: var(--red);
    color: var(--white);
    padding: 15px 30px;
    border-radius: 40px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    /* margin: 20px 0; */
}

.card {
      background: var(--white);
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      padding: 40px;
      margin-bottom: 20px;
}

.add-cart-btn {
    width: 150px;
    border: 1px solid var(--rose400);
    border-radius: 40px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    color: var(--rose900);
    background: var(--white);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
}


        /* Attribution */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media (max-width:1024px) {
    .container {
        display: block;
}

.dessert-container {
    width: 100%;
    margin: 0 auto;
}

.container .cart-container {
    margin: 0 auto;
    width: 100%;
    margin-top: 40px;
}

.order-confirmation-modal {
    width: 100%;
    margin: 0 auto 40px;
}

}


@keyframes fadeInUp {
  from {
    transform: translateY(40px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}