* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: mainFont;
    src: url(assets/fonts/RedHatText-VariableFont_wght.ttf),
         url(assets/fonts/RedHatText-Italic-VariableFont_wght.ttf);
}

body{
    font-size: 16px;
    background: hsl(20, 50%, 98%);
    font-family: mainfont;
}

.container {
    width: 90%;
    margin: 70px auto;
    display: flex;
    justify-content: space-between;
}

        /* Dessert Container Styling */
.dessert-container {
    width: 70%;
}

.dessert-container h1 {
    margin-bottom: 30px;
    font-size: 250%;
}

.dessert-container .dessert-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.dessert-container .dessert-flex .dessert-item{}

.dessert-container .dessert-flex .dessert-item .item-img{
    position: relative;
    /* display: inline-block; */
    margin-bottom: 30px;
}

.dessert-container .dessert-flex .dessert-item .item-img>img{
    /* height: 250px; */
    width: 250px;
    border-radius: 5px;
}

.dessert-container .dessert-flex .dessert-item .item-img button{
    width: 150px;
    border: 1px solid hsl(7, 20%, 60%);
    border-radius: 40px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    color: hsl(14, 65%, 9%);
    background: #fff;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
}

.dessert-container .dessert-flex .dessert-item .item-info{
    line-height: 1.6;
}

.dessert-container .dessert-flex .dessert-item .item-info :nth-child(1) {
    font-size: 14px;
    color: hsl(7, 20%, 60%);
    font-weight: 400;
}

.dessert-container .dessert-flex .dessert-item .item-info :nth-child(2) {
    font-weight: 500;
}

.dessert-container .dessert-flex .dessert-item .item-info :nth-child(3) {
    font-weight: 500;
    color: hsl(14, 86%, 42%);
}

        /* Cart Container Styling */
.container .cart-container {
    background: #fff;
    width: 30%;
    padding: 20px;
    border-radius: 10px;
    align-self: flex-start;
}

.container .cart-container h2 {
    color: hsl(14, 86%, 42%);
}

.container .cart-container .value img {
    margin: 20px 100px;
    text-align: center;
}

.container .cart-container p {
    text-align: center;
    color: hsl(12, 20%, 44%);
    font-weight: 500;
}

        /* Order Confirmation Modal */
.order-confirmation-modal {
    background: #fff;
    width: 600px;
    margin: 0 auto;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.order-confirmation-modal img{
    margin-bottom: 15px;
}

.order-confirmation-modal h1{}

.order-confirmation-modal p{
    /* margin-bottom: 20px; */
    /* font-size: 14px; */
    line-height: 2.0;
    color: hsl(7, 20%, 60%);
    font-weight: 500;
}

.order-confirmation-modal .all-orders {
    background-color: hsl(13, 31%, 94%);
    padding: 0 25px 25px 25px;
    margin: 30px 0;
    border-radius: 10px;
}

.order-confirmation-modal .all-orders .order-total{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.order-confirmation-modal .all-orders .order-total>p{
    color: hsl(14, 65%, 9%);
    font-weight: 400;
}

.order-confirmation-modal .all-orders .order-total .total-value{
    font-size: 25px;
    color: hsl(14, 65%, 9%);
    font-weight: 900;
}

.order-confirmation-modal .each-order {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid hsl(20, 50%, 98%);
}

.order-confirmation-modal .each-order .total-price {
    color: hsl(14, 65%, 9%);
    font-weight: 500;
}

.order-confirmation-modal .each-order .order-details {
    display: flex;
    gap: 20px;
}

.order-confirmation-modal .each-order .order-details .order-thumbnail{
    height: 50px;
    width: 50px;
}

.order-confirmation-modal .each-order .order-details .order-thumbnail img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.order-confirmation-modal .each-order .order-details .detail-text{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.order-confirmation-modal .each-order .order-details .detail-text p{
    font-weight: 500;
    color: hsl(14, 65%, 9%);
}

.order-confirmation-modal .each-order .order-details .detail-text .quantity-price{
    display: flex;
    align-items: center;
    gap: 20px;
}

.order-confirmation-modal .each-order .order-details .detail-text .quantity-price :nth-child(1){
    color: hsl(14, 86%, 42%);
    font-weight: 500;
    font-size: 14px;
}

.order-confirmation-modal .each-order .order-details .detail-text .quantity-price :nth-child(2){
    color: hsl(7, 20%, 60%);
    font-weight: 500;
    font-size: 14px;
}

.order-confirmation-modal button {
    width: 100%;
    border: none;
    outline: none;
    background-color: hsl(14, 86%, 42%);
    color: #fff;
    padding: 15px 30px;
    border-radius: 40px;
    font-size: 16px;
    font-weight: 500;
}

        /* Attribution */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
