@import url("https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

:root {
  --gradient: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: hsl(235, 21%, 11%);
  background-image: url("images/bg-desktop-dark.jpg");
  background-repeat: no-repeat;
  background-position: top;
  font-size: 18px;
  font-family: "Josefin Sans", sans-serif;
}

li {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.todo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  max-width: 600px;
}

.todo-container .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 40px;
}

.todo-container .header h1 {
  text-transform: uppercase;
  color: #fff;
  font-size: 250%;
  letter-spacing: 10px;
}

.todo-container .input {
  background: hsl(235, 24%, 19%);
  width: 100%;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 20px;
}

.todo-container .input .user-input {
  outline: none;
  border: none;
  background: transparent;
  color: hsl(234, 39%, 85%);
  font-family: inherit;
  font-size: 20px;
}

.todo-container .input button {
  background-color: transparent;
  border: 1px solid hsl(237, 14%, 26%);
  height: 25px;
  width: 25px;
  border-radius: 50%;
  cursor: pointer;
}

.todo-container .main {
  background: hsl(235, 24%, 19%);
  width: 100%;
  border-radius: 5px;
  color: hsl(234, 39%, 85%);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 40px;
}

.todo-container .main li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid hsl(235, 19%, 35%);
  cursor: pointer;
}

.todo-container .main li .check-list {
  display: flex;
  align-items: center;
  gap: 20px;
}

.todo-container .main li .checked {
  background: var(--gradient);
  border-radius: 50%;
  padding: 7px;
}

.todo-container .main li .unchecked {
  border: 1px solid hsl(235, 19%, 35%);
  border-radius: 50%;
  height: 25px;
  width: 25px;
  background: transparent;
}

.todo-container .main li .unchecked:hover {
  border: 1px solid hsl(280, 87%, 65%);
}

.todo-container .main-footer {
  padding: 20px;
  align-self: flex-end;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  color: hsl(235, 16%, 43%);
}

.todo-container .main-footer a {
  color: hsl(235, 16%, 43%);
}

.todo-container .main-footer a:hover {
  color: hsl(234, 39%, 85%);
}

.todo-container .main-footer .state {
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.todo-container .main-footer .state a:active {
  color: hsl(220, 98%, 61%);
}

.footer-info {
  font-size: 14px;
  font-weight: 700;
  color: hsl(235, 16%, 43%);
}
