@import url("https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

/* desktop light mode root */
:root {
  --background-image: url("images/bg-desktop-light.jpg");
  --primary-background: hsl(0, 0%, 98%);
  --secondary-background: hsl(0, 0%, 98%);
  --text-color: hsl(235, 19%, 35%);
  --border-color: hsl(234, 39%, 85%);
  --footer-primary: hsl(236, 9%, 61%);
  --footer-secondary: hsl(235, 16%, 43%);
  --gradient: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}

/* desktop dark mode root */
[data-theme="dark"] {
  --background-image: url("images/bg-desktop-dark.jpg");
  --primary-background: hsl(235, 21%, 11%);
  --secondary-background: hsl(235, 24%, 19%);
  --text-color: hsl(234, 39%, 85%);
  --border-color: hsl(235, 19%, 35%);
  --footer-primary: hsl(235, 16%, 43%);
  --footer-secondary: hsl(234, 39%, 85%);
  --gradient: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: var(--primary-background);
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-position: top;
  font-size: 18px;
  font-family: "Josefin Sans", sans-serif;
}

li {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  outline: none;
  border: none;
  background-color: transparent;
  font-size: inherit;
  font-weight: inherit;
}

.todo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  max-width: 600px;
  padding: 40px;
}

.todo-container .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 40px;
}

.todo-container .header h1 {
  text-transform: uppercase;
  color: #fff;
  font-size: 250%;
  letter-spacing: 10px;
}

.todo-container .input {
  background: var(--secondary-background);
  width: 100%;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.todo-container .input .user-input {
  outline: none;
  border: none;
  background: transparent;
  color: var(--text-color);
  font-family: inherit;
  font-size: 20px;
  width: 80%;
}

.todo-container .input button {
  background-color: transparent;
  border: 1px solid var(--border-color);
  height: 25px;
  width: 25px;
  border-radius: 50%;
  cursor: pointer;
}

.todo-container .main {
  background: var(--secondary-background);
  width: 100%;
  border-radius: 5px;
  color: var(--text-color);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 40px;
}

.todo-container .main li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid var(--border-color);
  cursor: pointer;
}

.todo-container .main li.dragging {
  opacity: 0.5;
  background-color: #e0e0e0;
}

.todo-container .main li .check-list {
  display: flex;
  align-items: center;
  gap: 20px;
}

.todo-container .main li img {
  visibility: hidden;
}

.todo-container .main li:hover img {
  visibility: visible;
}

.todo-container .main li button {
  border: 1px solid var(--border-color);
  border-radius: 50%;
  height: 25px;
  width: 25px;
  background: transparent;
}

.todo-container .main li button:hover {
  border: 1px solid hsl(280, 87%, 65%);
}

.todo-container .main li .check-list.checked button {
  background: url("images/icon-check.svg") no-repeat center, var(--gradient);
  background-size: 15px, cover;
  border-radius: 50%;
  padding: 7px;
}

.todo-container .main li .check-list.checked span {
  text-decoration: line-through;
  color: var(--border-color);
}

.todo-container .main-footer {
  padding: 20px;
  align-self: flex-end;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  color: var(--footer-primary);
}

.todo-container .main-footer button {
  color: var(--footer-primary);
}

.todo-container .main-footer button:hover {
  color: var(--footer-secondary);
}

.state {
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.todo-container .main-footer .state button.active {
  color: hsl(220, 98%, 61%);
}

.footer-info {
  font-size: 14px;
  /* font-weight: 700; */
  color: var(--footer-primary);
}

.mobile-state {
  display: none;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background: var(--secondary-background);
  color: var(--text-color);
  width: 100%;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  font-weight: 700;
}

.mobile-state button {
  color: var(--footer-primary);
}

.mobile-state button:hover {
  color: var(--footer-secondary);
}

.mobile-state button:active {
  color: hsl(220, 98%, 61%);
}

.active {
  color: hsl(220, 98%, 61%);
  font-size: 40px;
}

@media (max-width: 375px) {
  /* mobile dark mode root */
  :root {
    --background-image: url("images/bg-mobile-dark.jpg");
  }

  /* mobile light mode root */
  :root {
    --background-image: url("images/bg-mobile-light.jpg");
  }

  * {
    font-size: 11px;
    font-family: "Josefin Sans";
  }

  body {
    background-image: var(--background-image);
  }

  .todo-container {
    padding: 20px;
  }

  .todo-container .input .user-input {
    font-size: 14px;
  }

  .todo-container .main {
    margin-bottom: 20px;
    font-weight: 600;
  }

  .todo-container .main li img {
    visibility: visible;
  }

  .mobile-state {
    display: flex;
  }

  .mobile-state button {
    font-size: 14px;
  }

  .todo-container .main-footer .state {
    display: none;
  }
}

@media (prefers-color-scheme: dark) {
  /* desktop dark mode root */
  :root {
    --background-image: url("images/bg-desktop-dark.jpg");
    --primary-background: hsl(235, 21%, 11%);
    --secondary-background: hsl(235, 24%, 19%);
    --text-color: hsl(234, 39%, 85%);
    --border-color: hsl(235, 19%, 35%);
    --footer-primary: hsl(235, 16%, 43%);
    --footer-secondary: hsl(234, 39%, 85%);
    --gradient: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  }
}
